:root {
    --main-color: #252525;
    --secondary-color: #cf5555;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

a {
    list-style-type: none;
}

.hide {
    display: none !important;
}
a {
    text-decoration: none;
}